<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

    <title>
       Opening Voilà 
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.5.0/css/font-awesome.min.css" type="text/css" />

    
  <meta http-equiv="refresh" content="1;url=http://localhost:8866/" />


  </head>

  <body data-base-url="http://localhost:8866/voila/">

    <noscript>
      <div id='noscript'>
         Voilà requires JavaScript. Please enable it to proceed. 
      </div>
    </noscript>

    <div>
      
  <p>
    This page should redirect you to Voilà. If it doesn't,
    <a href="http://localhost:8866/">click here to go to Voilà</a>.
  </p>

    </div>

    
    
  </body>
</html>
